@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: "HeadingFont";
  --font-subheading: "SubHeadingFont";
  --font-subtext: "SubText";
  --background: #0a0a0a;
  --foreground: #ededed;
}
h1 {
  font-family: var(--font-heading);
}
p {
  font-family: var(--font-subheading);
}
h2,
h3 {
  font-family: var(--font-subtext);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "HeadingFont";
  src: url("/fonts/Book23.ttf") format("woff2");
}
@font-face {
  font-family: "SubHeadingFont";
  src: url("/fonts/ActayCondensed-Thin.otf") format("woff2");
}
@font-face {
  font-family: "SubText";
  src: url("/fonts/ActayWide-Bold.otf") format("woff2");
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url("../assets//grid.png");
}
