@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: "HeadingFont";
  --font-subheading: "SubHeadingFont";
  --background: #ffffff;
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
}
p {
  font-family: var(--font-subheading);
}

@font-face {
  font-family: "HeadingFont";
  src: url("/fonts/Book23.ttf") format("woff2");
}
@font-face {
  font-family: "SubHeadingFont";
  src: url("/fonts/ActayCondensed-Thin.otf") format("woff2");
}

body {
  background-color: black;
  color: white;
  background-image: url("../assets//grid.png");
}
